<div class="mainBox mt-4">
    <div class="my-2 w-25">
        <app-select-list [title]="'Categorys'" [data]="categorys" (selectedValue)="categoryChange($event)"></app-select-list>
    </div>
    <div class="row " *ngIf="!loading">
        <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let item of products">
            <app-product-list [data]="item" (item)="addToCart($event)"></app-product-list>
        </div>
    </div>
    <!-- spinner -->
    <div class="text-center w-100 mt-5" *ngIf="loading"> 
        <app-spinner></app-spinner>
    </div>
</div>